<div class="contents row">
  <% @posts.each do |post|%>
    <div class="content_post">
      <%= image_tag post.image %>
      <%= simple_format(post.description) %>
        <% if user_signed_in? && current_user.id == post.user_id  %>
        <li>
          <%= link_to '詳細',post_path(post.id) , method: :get %>
        </li>
          <li>

            <%= link_to '投稿を編集', "/posts/#{post.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '投稿を削除',"/posts/#{post.id}", method: :delete %>
          </li>
      </div>
    <% end %>
  <% end %>
</div>